---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import Projects from "../components/Projects.astro";
import Certificates from "../components/Certificates.astro";
import SobreMi from "../components/SobreMi.astro";
import Footer from "../components/Footer.astro";

import GitHubIcon from "../components/Icons/GitHub.astro";
import LinkedInIcon from "../components/Icons/LinkedIn.astro";
import InstagramIcon from "../components/Icons/Instagram.astro";
import CodeIcon from "../components/Icons/Code.astro";
import UserCheckIcon from "../components/Icons/UserCheck.astro";
import CertificateIcon from "../components/Icons/Certificate.astro";
---

<Layout
  title="Mario Garcia's Portfolio - Web Developer and Programmer"
  description="Hire Mario Garcia to build your web application. Web developer and programmer specializing in CSS and JavaScript."
>
  <main class="px-4 mx-auto flex flex-col">
    <SectionContainer class="py-44 pb-24">
      <img
        class="rounded-full size-20 object-cover mb-4"
        src="/me-profile.webp"
        alt="Image of Mario Garcia"
      />
      <h1
        class="text-white text-xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, I'm DGrazz
        <a
          href="https://www.instagram.com/mariogl._"
          target="_blank"
          rel="noopener"
          class="flex items-center transition md:justify-center md:hover:scale-105"
          ><Badge>Available for work</Badge></a
        >
      </h1>
      <h2 class="text-xl lg:text-xl opacity-80 text-wrap max-w-[700px]">
        Front-end Developer from Barcelona, Spain. Passionate about creating
        websites and startups that solve problems, with the ambition of
        establishing a unique and global web development agency.
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://github.com/DGrazz">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill
          href="https://www.linkedin.com/in/mario-garcia-lopez-%F0%9F%96%A5%F0%9F%8C%90-b748662b3/"
        >
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <!-- <SocialPill href="https://www.instagram.com/mariogl._">
          <InstagramIcon class="size-4 md:size-6" />
          Instagram
        </SocialPill> -->
      </nav>
    </SectionContainer>

    <SectionContainer id="projects">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-8" />
        Projects
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer class="mt-8" id="certificates">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CertificateIcon class="size-8" />
        Certificates
      </h2>
      <Certificates />
    </SectionContainer>

    <SectionContainer class="mt-16" id="about-me">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <UserCheckIcon class="size-8" />
        About me
      </h2>
      <SobreMi />
    </SectionContainer>

    <Footer />
  </main>
</Layout>
