<footer class="mt-20 py-6 md:py-0 b border-neutral-700 border-t-[1px]">
    <div class="container flex items-center justify-center gap-4 md:h-24">
        <p class="text-zinc-300 text-balance text-center text-sm leading-loose text-muted-foreground md:text-left">
            Made with ❤️ by
            <a href="https://github.com/DGrazz" target="_blank" rel="noreferrer" class="font-medium underline underline-offset-4 text-white">Mario Garcia.
            </a>
        </p>
    </div>
</footer>