<section class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <article
    class="text-zinc-300 [&>p]:mb-4 [&>p>strong]:text-green-300 [&>p>strong]:font-semibold [&>p]:text-balance  order-2 md:order-1"
  >
    <p>
      Me llamo <strong>Mario Garcia</strong> pero mis amigos me llaman DGrazz. Siempre
      me he diferenciado de los demas por mi <strong
        >mentalidad emprendedora</strong
      > y mi <strong>obsesion</strong> y necesidad de <strong
        >ser el mejor en todo lo que hago</strong
      >.
    </p>
    <p>
      <strong>Empece en el mundo de la informatica a los 12 años</strong> aprendiendo
      a utilizar photoshop. Subia el
      proceso de los diseños a youtube, asi que tambien <strong
        >acabe haciendole diseños a gente</strong
      > que me lo pedia.
    </p>
    <p>
      Finalmente me decidi a estudiar un grado superior de informatica y
      especializarme en el desarrollo web front-end.
    </p>
    <p>
      Y a dia de hoy sigo aprendiendo y mejorando mis habilidades de programacion
      con <strong>proyectos utiles que solucionen problemas</strong>.
    </p>
  </article>
  <img
    class="order-1 object-cover w-64 h-full p-1 bg-[#0f1011] md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl ring-1 ring-white/20"
    src="/me-about.webp"
    alt="Foto de Mario Garcia"
  />
</section>
