<section
  class="flex flex-col items-center md:items-start justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <article
    class="text-zinc-300 [&>p]:mb-4 [&>p>strong]:text-green-300 [&>p>strong]:font-semibold [&>p]:text-pretty order-2 md:order-1"
  >
    <p>
      My name is <strong>Mario Garcia</strong>, but my friends call me DGrazz.
      I've always set myself apart from others with my <strong
        >entrepreneurial mindset</strong
      >
      and my <strong>obsession</strong> and need to <strong
        >be the best at everything I do</strong
      >.
    </p>
    <p>
      <strong>I started in the world of IT at the age of 12</strong> by learning
      to use Photoshop. I uploaded the design process to YouTube, so I also <strong
        >end up designing for people</strong
      >
      who asked me to.
    </p>
    <p>
      Eventually, I decided to pursue a higher education degree in IT and
      specialize in front-end web development.
    </p>
    <p>
      And to this day, I continue to learn and improve my programming skills
      with <strong>useful projects that solve problems</strong>.
    </p>
  </article>
  <img
    class="order-1 object-cover w-64 h-full p-1 bg-[#0f1011] md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl ring-1 ring-white/20"
    src="/me-about.webp"
    alt="Image of Mario Garcia"
  />
</section>
